*identityDb*
# .NET Core / .NET Standard
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.deps.json
*.runtimeconfig.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.vscode/
*.suo
*.user
*.vspscc
*.vssscc
*.dotCover
*.dotSettings
*.config
*.Publish.xml
*.nuspec
*.resharper
*.resharper.user
*.resharper.user.lock.json
*.sln.DotSettings.user
*.sln.DotSettings.user.lock.json

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
packages/
*.nupkg
*.snupkg
*.paket.*
*.paket.lock
*.paket.references
paket-files/

# StyleCop
StyleCopReport.xml

# Others
_ReSharper*/
*.DotSettings
*.DotSettings.user
*.bak
*.cache
*.log
*.swp
*.tmp
*.tmp_proj
*.userprefs
*.DS_Store
.fake