<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default mu-entity-header">
            <div class="panel-body">
                <h3 class="mu-entity-header__title">
                    <i class="fa-solid fa-home"></i>
                    {{stadium.Name}}, {{stadium.City}}
                </h3>
                <p class="text-muted mu-entity-header__meta">
                    Capacity: {{ stadium.Capacity | number }}
                </p>
                <button type="button" class="btn btn-info btn-sm" data-access-level="Admin"
                    ng-if="security.user && security.user.Roles === 'Admin'"
                    ng-click="showEditForm = !showEditForm">
                    <i class="fa fa-pencil-square"></i>
                    <span mundialito-toggle-text true-label="Hide edit" false-label="Edit stadium"
                        varieble="showEditForm">Edit stadium</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row" data-access-level="Admin"
    ng-if="security.user && security.user.Roles === 'Admin'" ng-show="showEditForm" cg-busy="editStadiumPromise">
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-pencil-square"></i> Edit stadium</div>
            <div class="panel-body">
                <form name="editStadiumForm" novalidate>
                    <auto:fields fields="schema" data="stadium"></auto:fields>
                    <button type="button" ng-click="updateStadium()" class="btn btn-primary btn-lg btn-block"
                        ng-disabled="editStadiumForm.$invalid" tabindex="100">
                        <i class="fa-solid fa-floppy-disk"></i> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-info mu-panel-primary" cg-busy="getStadiumGamesPromise">
            <div class="panel-heading">
                <i class="fa-solid fa-futbol"></i> Games in {{stadium.Name}}
                <span class="pull-right badge" ng-if="games">{{games.length}}</span>
            </div>
            <div class="panel-body">
                <mundialito-games info="games" show-only="true"></mundialito-games>
            </div>
        </div>
    </div>
</div>
