<div class="mu-game-row__inner">
    <div class="mu-game-row__team mu-game-row__team--home">
        <team-flag team="game.HomeTeam"></team-flag>
        <span class="mu-game-row__name">{{::game.HomeTeam.Name}}</span>
    </div>
    <div class="mu-game-row__center" ng-class="{'mu-game-row__center--dash': gameRowMode !== 'score'}">
        <span ng-if="gameRowMode === 'score'">{{::game.HomeScore}}–{{::game.AwayScore}}</span>
        <span ng-if="gameRowMode !== 'score'">–</span>
    </div>
    <div class="mu-game-row__team mu-game-row__team--away">
        <team-flag team="game.AwayTeam"></team-flag>
        <span class="mu-game-row__name">{{::game.AwayTeam.Name}}</span>
    </div>
</div>
