<div class="row mu-games-template">
    <div ng-class="{'col-md-11 col-xs-10': !showOnly, 'col-xs-12': showOnly}">
        <div class="list-group">
            <a href="{{game.getUrl()}}" class="list-group-item mu-game-row"
                ng-class="{'list-group-item-warning': !game.UserHasBet}"
                ng-repeat="game in games track by game.GameId"
                title="At {{game.Stadium.Name}}"
                ng-init="gameRowMode='auto'">
                <div class="mu-game-row__stack">
                    <div ng-include="'App/Partials/game-list-item-inner.html'"></div>
                    <span class="mu-game-row__meta">{{::game.Date | date:'dd MMM yyyy, HH:mm'}}</span>
                </div>
            </a>
            <a href="" class="list-group-item mu-game-row mu-game-row--add" data-access-level="Admin"
                ng-click="onAdd()" ng-if="!showOnly">
                <i class="fa fa-plus-circle"></i> Add new game
            </a>
            <p class="mu-empty-state text-muted text-center" ng-if="games.length === 0">
                <i class="fa fa-info-circle"></i> No games to show.
            </p>
        </div>
    </div>
    <div class="col-md-1 col-xs-2 mu-games-template__admin" data-access-level="Admin" ng-if="!showOnly">
        <div class="list-group mu-games-template__admin-list">
            <a href="" title="Delete game" ng-click="deleteGame(game)"
                class="list-group-item mu-games-template__delete"
                ng-repeat="game in games track by game.GameId">
                <i class="fa fa-times-circle"></i>
            </a>
            <span class="list-group-item mu-games-template__delete mu-games-template__delete--spacer"
                ng-if="!showOnly" aria-hidden="true"></span>
        </div>
    </div>
</div>
