<div class="row well">
    <div class="col-md-6 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <i ng-class="['flag','flag-fifa-{{game.HomeTeam.ShortName | lowercase}}']"
                        title="{{game.HomeTeam.Name}}"></i> <a href="/teams/{{::game.HomeTeam.TeamId}}">{{game.HomeTeam.Name}}</a> <span
                        ng-if="game.IsBetResolved">{{game.HomeScore}} - {{game.AwayScore}}</span><span
                        ng-if="!game.IsBetResolved"> - </span>
                    <i ng-class="['flag','flag-fifa-{{game.AwayTeam.ShortName | lowercase}}']"
                        title="{{game.AwayTeam.Name}}"></i> <a href="/teams/{{::game.AwayTeam.TeamId}}">{{game.AwayTeam.Name}}</a>
                </h3>
                <h5 ng-if="game.IsBetResolved">
                    <i class="fa fa-stop" style="color: #ffff00" tooltip="Yellow Cards Mark"></i> {{game.CardsMark}}
                    <i class="fa fa-flag" tooltip="Corners Mark"></i> {{game.CornersMark}}
                </h5>
                <h4>{{game.Stadium.Name}} Stadium</h4>
                <h4>{{game.Date | date:'dd/MM/yy @ H:mm'}} <small ng-show="game.IsOpen">(<i class="fa fa-clock"></i>
                        Open until {{game.CloseTime | date:'dd/MM/yy @ H:mm'}})</small></h4>
                <h5 ng-show="game.GameStatsPage !== null"><a target="_blank" ng-href="{{game.GameStatsPage}}"><i
                            class="fa fa-bar-chart"></i> Head to Head</a></h5>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-info btn-xs" data-access-level="Admin"
                    ng-click="showEditForm = !showEditForm">
                    <i class="fa fa-pencil-square"></i> <span mundialito-toggle-text true-label="Hide Edit Form"
                        false-label="Edit Game" varieble="showEditForm">Edit Game</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12" ng-if="!game.IsOpen">
        <div class="row">
            <div class="col-md-12">
                <div google-chart chart="chart">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit Panel -->
<div class="row" data-access-level="Admin" ng-show="showEditForm" cg-busy="{tracker:'editGame'}">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-pencil-square"></i> Edit Game Details</div>
            <div class="panel-body">
                <form role="form" name="editGameForm" class="form-horizontal" novalidate>
                    <div class="form-group" ng-if="!game.IsOpen">
                        <label class="col-md-3 control-label" for="GameHomeScore">
                            <i ng-class="['flag','flag-fifa-{{game.HomeTeam.ShortName | lowercase}}']"
                                title=" {{game.HomeTeam.Name}}"></i> {{game.HomeTeam.Name}} Score
                        </label>
                        <div class="col-md-2">
                            <input id="GameHomeScore" name="GameHomeScore" type="number" ng-model="game.HomeScore"
                                class="form-control" placeholder="Home Team Score" required min="0">
                        </div>
                    </div>
                    <div class="form-group" ng-if="!game.IsOpen">
                        <label class="col-md-3 control-label" for="GameAwayScore">
                            <i ng-class="['flag','flag-fifa-{{game.AwayTeam.ShortName | lowercase}}']"
                                title=" {{game.AwayTeam.Name}}"></i> {{game.AwayTeam.Name}} Score
                        </label>
                        <div class="col-md-2">
                            <input id="GameAwayScore" name="GameAwayScore" type="number" ng-model="game.AwayScore"
                                class="form-control" placeholder="Away Team Score" required min="0">
                        </div>
                    </div>
                    <div class="form-group" ng-if="!game.IsOpen">
                        <label class="col-md-3 control-label" for="game_cards">Yellow Cards</label>
                        <div class="col-md-2">
                            <select id="game_cards" name="game_cards" ui-select2="{allowClear: false}"
                                class="form-control" ng-model="game.CardsMark" required placeholder="Game Cards Mark">
                                <option value="1">{{game.HomeTeam.Name}}</option>
                                <option value="X">X</option>
                                <option value="2">{{game.AwayTeam.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!game.IsOpen">
                        <label class="col-md-3 control-label" for="game_corners">Corners</label>
                        <div class="col-md-2">
                            <select id="game_corners" name="game_corners" ui-select2="{allowClear: false}"
                                class="form-control" ng-model="game.CornersMark" required
                                placeholder="Game Corners Mark">
                                <option value="1">{{game.HomeTeam.Name}}</option>
                                <option value="X">X</option>
                                <option value="2">{{game.AwayTeam.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group select"  ng-if="game.IsOpen">
                        <div class="dropdown dropdown1-parent">
                            <label class="col-md-3 control-label" for="Date">Date & Time</label>
                            <a class="dropdown-toggle" id="datedropdown" role="button" data-toggle="dropdown" data-target=".dropdown1-parent" href="#">
                                <div class="input-group">
                                    <input type="text" id="Date" class="form-control" data-ng-model="game.Date"
                                        required>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="game.Date"
                                    data-datetimepicker-config="{ dropdownSelector: '#datedropdown'}">
                                </datetimepicker>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-md-3 control-label" for="integrationsData">Integrations</label>
                        <div class="col-md-9">
                            <key-value-editor entries="integrationsData" cannot-sort add-row-link="Add Integration Key-Value"></key-value-editor>
                        </div>
                    </div>
                    <button type="button" ng-click="updateGame()" class="btn btn-primary btn-lg btn-block"
                        ng-disabled="editGameForm.$invalid" tabindex="100"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Edit Panel -->
<div ng-include="plugins['odds'].template"></div>
<!-- Teams Last Games-->
<div class="row" ng-if="teamsForm">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading" cg-busy="{tracker:'getTeamGames'}">
                <i class="fa-solid fa-chart-line"></i> Teams Form
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i ng-class="['flag','flag-fifa-{{game.HomeTeam.ShortName | lowercase}}']"
                                title=" {{game.HomeTeam.Name}}"></i> {{game.HomeTeam.Name}} <span ng-repeat="mark in teamsForm[game.HomeTeam.TeamId].form"><span ng-class="{'label-success': mark.mark === 'W', 'label-default': mark.mark === 'D', 'label-danger': mark.mark === 'L'}" class="label">{{mark.mark}}</span> </span> 
                            </div>
                            <div class="panel-body">
                                <mundialito-games info="teamsForm[game.HomeTeam.TeamId].games" show-only="true"></mundialito-games> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i ng-class="['flag','flag-fifa-{{game.AwayTeam.ShortName | lowercase}}']"
                                title=" {{game.AwayTeam.Name}}"></i> {{game.AwayTeam.Name}} <span ng-repeat="mark in teamsForm[game.AwayTeam.TeamId].form"><span ng-class="{'label-success': mark.mark === 'W', 'label-default': mark.mark === 'D', 'label-danger': mark.mark === 'L'}" class="label">{{mark.mark}}</span> </span> 
                            </div>
                            <div class="panel-body">
                                <mundialito-games info="teamsForm[game.AwayTeam.TeamId].games" show-only="true"></mundialito-games> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Teams Last Games-->
<!-- User Bet -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user"></i> Your Bet
                <span ng-show="game.IsPendingUpdate" class="label label-info pull-right"><i class="fa fa-clock"></i>
                    Pending Update</span>
                <span ng-show="game.IsOpen" class="label label-success pull-right"><i class="fa fa-unlock"></i> Open for
                    betting</span>
                <span class="label label-success pull-right"
                    ng-show="!game.IsOpen && !game.IsPendingUpdate">{{userBet.Points}} Points</span>
            </div>
            <div class="panel-body" cg-busy="{tracker:['addBetOnGame','updateBet']}">
                <div ng-if="!game.IsOpen && userBet.BetId == -1" class="text-danger">
                    <i class="fa fa-warning"></i> You haven't placed a bet on this game and it is already closed for
                    betting
                </div>
                <form class="form-horizontal" novalidate name="userBetFrom"
                    ng-show="userBet.BetId != -1 || game.IsOpen">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="{{game.HomeTeam.TeamId}}">
                            <i ng-class="['flag','flag-fifa-{{game.HomeTeam.ShortName | lowercase}}']"
                                title=" {{game.HomeTeam.Name}}"></i> {{game.HomeTeam.Name}} Score
                        </label>
                        <div class="col-md-2">
                            <input name="{{game.HomeTeam.TeamId}}" ng-readonly="!game.IsOpen"
                                id="{{game.HomeTeam.TeamId}}" type="number" ng-model="userBet.HomeScore"
                                class="form-control" placeholder="Home Team Score" required min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="{{game.AwayTeam.TeamId}}">
                            <i ng-class="['flag','flag-fifa-{{game.AwayTeam.ShortName | lowercase}}']"
                                title=" {{game.AwayTeam.Name}}"></i> {{game.AwayTeam.Name}} Score
                        </label>
                        <div class="col-md-2">
                            <input name="{{game.AwayTeam.TeamId}}" ng-readonly="!game.IsOpen"
                                id="{{game.AwayTeam.TeamId}}" type="number" ng-model="userBet.AwayScore"
                                class="form-control" placeholder="Away Team Score" required min="0">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : cards.$error}">
                        <label class="col-md-3 control-label" for="cards">Yellow Cards</label>
                        <div class="col-md-2">
                            <select id="cards" name="cards" ng-readonly="!game.IsOpen" ui-select2="{allowClear: false}"
                                class="form-control" ng-model="userBet.CardsMark" required
                                placeholder="Game Cards Mark">
                                <option value="1">{{game.HomeTeam.Name}}</option>
                                <option value="X">X</option>
                                <option value="2">{{game.AwayTeam.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : corners.$error}">
                        <label class="col-md-3 control-label" for="corners">
                            Corners
                        </label>
                        <div class="col-md-2">
                            <select id="corners" name="corners" ng-readonly="!game.IsOpen"
                                ui-select2="{allowClear: false}" class="form-control" ng-model="userBet.CornersMark"
                                required placeholder="Game Corners Mark">
                                <option value="1">{{game.HomeTeam.Name}}</option>
                                <option value="X">X</option>
                                <option value="2">{{game.AwayTeam.Name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="col-md-2 col-xs-6 col-xs-offset-6 col-md-offset-10" ng-if="game.IsOpen">
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary" ng-click="updateBet()"
                            ng-disabled="userBetFrom.$invalid && game.IsOpen"><i class="fa fa-save"></i> Save
                            Bet</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of User Bet -->
<!-- Bets Highlights-->
<div class="row" ng-if="(!game.IsOpen && usersMap)">
    <div class="col-md-12">
        <div class="panel panel-info" cg-busy="{tracker:'getUsers'}">
            <div class="panel-heading"><i class="fa fa-bolt"></i> Bets HighLights</div>
            <div class="panel-body">
                <div class="row" ng-if="followeesBets.length > 0">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa fa-users"></i> Your Followees Bets</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th><i class="fa fa-user"></i> User</th>
                                            <th>Result</th>
                                            <th><i class="fa fa-stop" style="color: #ffff00"
                                                    tooltip="Yellow Cards Mark"></i></th>
                                            <th><i class="fa fa-flag" tooltip="Corners Mark"></i></th>
                                            <th>Points</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="bet in followeesBets">
                                                <td>{{::getUserPlace(bet.User)}}</td>
                                                <td><a href="users/{{bet.User.Username}}">{{::bet.User.FirstName}}
                                                        {{::bet.User.LastName}}</a></td>
                                                <td>{{::bet.HomeScore}} - {{::bet.AwayScore}}</td>
                                                <td>{{::bet.CardsMark}}</td>
                                                <td>{{::bet.CornersMark}}</td>
                                                <td><span class="label label-{{bet.getClass()}}"
                                                        ng-show="bet.IsResolved">{{::bet.Points}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa fa-trophy"></i> Top 3 Users Bets</div>
                            <div class="panel-body">
                                <div class="table-responsive" ng-if="top3UsersBets.length > 0">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th><i class="fa fa-user"></i> User</th>
                                            <th>Result</th>
                                            <th><i class="fa fa-stop" style="color: #ffff00"
                                                    tooltip="Yellow Cards Mark"></i></th>
                                            <th><i class="fa fa-flag" tooltip="Corners Mark"></i></th>
                                            <th>Points</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="bet in top3UsersBets">
                                                <td>{{::getUserPlace(bet.User)}}</td>
                                                <td><a href="users/{{bet.User.Username}}">{{::bet.User.FirstName}}
                                                        {{::bet.User.LastName}}</a></td>
                                                <td>{{::bet.HomeScore}} - {{::bet.AwayScore}}</td>
                                                <td>{{::bet.CardsMark}}</td>
                                                <td>{{::bet.CornersMark}}</td>
                                                <td><span class="label label-{{bet.getClass()}}"
                                                        ng-show="bet.IsResolved">{{::bet.Points}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa fa-users"></i> Your Neighbors Bets</div>
                            <div class="panel-body">
                                <div class="table-responsive" ng-if="neighborsBets.length > 0">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th><i class="fa fa-user"></i> User</th>
                                            <th>Result</th>
                                            <th><i class="fa fa-stop" style="color: #ffff00"
                                                    tooltip="Yellow Cards Mark"></i></th>
                                            <th><i class="fa fa-flag" tooltip="Corners Mark"></i></th>
                                            <th style="cursor: pointer" ng-click="sort('points')">Points</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="bet in neighborsBets">
                                                <td>{{::getUserPlace(bet.User)}}</td>
                                                <td><a href="users/{{bet.User.Username}}">{{::bet.User.FirstName}}
                                                        {{::bet.User.LastName}}</a></td>
                                                <td>{{::bet.HomeScore}} - {{::bet.AwayScore}}</td>
                                                <td>{{::bet.CardsMark}}</td>
                                                <td>{{::bet.CornersMark}}</td>
                                                <td><span class="label label-{{bet.getClass()}}"
                                                        ng-show="bet.IsResolved">{{::bet.Points}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Bets Highlights-->
<!-- Other users bets -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success" cg-busy="{tracker:'getGameBets'}">
            <div class="panel-heading"><i class="fa-solid fa-money-bill"></i> Other Users Bets</div>
            <div class="panel-body">
                <div ng-if="game.IsOpen" class="text-info">
                    <i class="fa fa-info-circle"></i> Other users bets will be displayed once the game will be closed
                </div>
                <div ng-if="(!game.IsOpen && usersMap)">
                    <div class="table-responsive" ng-if="gameBets.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <th style="cursor: pointer">#</th>
                                <th style="cursor: pointer" ng-click="sort('user')"><i class="fa fa-user"></i> User</th>
                                <th style="cursor: pointer" ng-click="sort('result')">Result</th>
                                <th style="cursor: pointer" ng-click="sort('cards')"><i class="fa fa-stop"
                                        style="color: #ffff00" tooltip="Yellow Cards Mark"></i></th>
                                <th style="cursor: pointer" ng-click="sort('corners')"><i class="fa fa-flag"
                                        tooltip="Corners Mark"></i></th>
                                <th style="cursor: pointer" ng-click="sort('points')">Points</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bet in gameBets">
                                    <td>{{::getUserPlace(bet.User)}}</td>
                                    <td><a href="users/{{bet.User.Username}}">{{::bet.User.FirstName}}
                                            {{::bet.User.LastName}}</a></td>
                                    <td>{{::bet.HomeScore}} - {{::bet.AwayScore}}</td>
                                    <td>{{::bet.CardsMark}}</td>
                                    <td>{{::bet.CornersMark}}</td>
                                    <td><span class="label label-{{bet.getClass()}}"
                                            ng-show="bet.IsResolved">{{::bet.Points}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-if="gameBets.length == 0">
                        <div class="col-md-12 text-info">
                            <i class="fa fa-info-circle"></i> The game has not bets
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Other users bets -->
<!-- Simulate Game -->
<!-- Result Form -->
<div class="row" ng-if="game.IsPendingUpdate">
    <div class="col-md-12">
        <div class="panel panel-info" cg-busy="{tracker:'simulateGame'}">
            <div class="panel-heading"><i class="fa fa-calculator"></i> Simulate Game</div>
            <div class="panel-body">
                <form role="form" name="simulateGameForm" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="GameHomeScore">
                            <i ng-class="['flag','flag-fifa-{{game.HomeTeam.ShortName | lowercase}}']"
                                title=" {{game.HomeTeam.Name}}"></i> {{game.HomeTeam.Name}} Score
                        </label>
                        <div class="col-md-2">
                            <input id="GameHomeScore" name="GameHomeScore" type="number"
                                ng-model="simulatedGame.HomeScore" class="form-control" placeholder="Home Team Score"
                                required min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="GameAwayScore">
                            <i ng-class="['flag','flag-fifa-{{game.AwayTeam.ShortName | lowercase}}']"
                                title=" {{game.AwayTeam.Name}}"></i> {{game.AwayTeam.Name}} Score
                        </label>
                        <div class="col-md-2">
                            <input id="GameAwayScore" name="GameAwayScore" type="number"
                                ng-model="simulatedGame.AwayScore" class="form-control" placeholder="Away Team Score"
                                required min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="game_cards">Yellow Cards</label>
                        <div class="col-md-2">
                            <select id="game_cards" name="game_cards" ui-select2="{allowClear: false}"
                                class="form-control" ng-model="simulatedGame.CardsMark" required
                                placeholder="Game Cards Mark">
                                <option value="1">{{game.HomeTeam.Name}}</option>
                                <option value="X">X</option>
                                <option value="2">{{game.AwayTeam.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="game_corners">Corners</label>
                        <div class="col-md-2">
                            <select id="game_corners" name="game_corners" ui-select2="{allowClear: false}"
                                class="form-control" ng-model="simulatedGame.CornersMark" required
                                placeholder="Game Corners Mark">
                                <option value="1">{{game.HomeTeam.Name}}</option>
                                <option value="X">X</option>
                                <option value="2">{{game.AwayTeam.Name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="col-md-2 col-xs-6 col-xs-offset-6 col-md-offset-10">
                    <span class="pull-right">
                        <button type="button" ng-click="simulateGame()" class="btn btn-primary btn-lg btn-block"
                            ng-disabled="simulateGameForm.$invalid" tabindex="100"><i class="fa fa-futbol"></i>
                            Simulate</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Result Form -->
<!-- Table -->
<div class="row" ng-if="users && !simulateGameForm.$dity">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-calculator"></i> Simulated Ranking Table</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div ui-grid="gridOptions" class="myGrid" ui-grid-resize-columns ui-grid-auto-resize
                            ng-style="getTableHeight()" ui-grid-save-state cg-busy="{tracker:'simulateGame'}"
                            ui-if="gridOptions.data.length > 0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Table -->
<!-- End of Simulate Game-->
<br />