<div class="row">
    <div class="col-md-10 col-xs-10">
        <div class="media">
                <span class="pull-left">
                    <img class="media-object" ng-src="{{team.Logo.toLowerCase()}}">
                </span>
            <div class="media-body">
                <h4>{{team.Name}} ({{team.ShortName}})</h4>
                <h5 ng-show="team.TeamPage !== null"><a target="_blank" ng-href="{{team.TeamPage}}"><i class="fa fa-bar-chart"></i>Team  Statistics</a></h5>
                <button type="button" class="btn btn-info btn-xs" data-access-level="Admin" ng-click="showEditForm = !showEditForm">
                    <i class="fa fa-pencil-square"></i> <span mundialito-toggle-text true-label="Hide Edit Form" false-label="Edit Team" varieble="showEditForm">Edit Team</span>
                </button>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="row" data-access-level="Admin" ng-show="showEditForm" cg-busy="editTeamPromise">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-pencil-square"></i> Edit Team Details</div>
            <div class="panel-body">
                <form name="editTeamForm" novalidate>
                    <auto:fields fields="schema" data="team"></auto:fields>
                    <div class="url form-group">
                        <label class="control-label" for="integrationsData">Integrations</label>
                        <key-value-editor entries="IntegrationsData"></key-value-editor>
                    </div>
                    <button type="button" ng-click="updateTeam()" class="btn btn-primary btn-lg btn-block" ng-disabled="editTeamForm.$invalid" tabindex="100"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <team-flag team="team"></team-flag>
                {{team.Name}} Games <span ng-repeat="mark in teamsForm[team.TeamId].form"><span ng-class="{'label-success': mark.mark === 'W', 'label-default': mark.mark === 'D', 'label-danger': mark.mark === 'L'}" class="label">{{mark.mark}}</span> </span> 
            </div>
            <div class="panel-body">
                <mundialito-games info="games" show-only="true"></mundialito-games>
            </div>
        </div>
    </div>
</div>
<div ng-include="plugins['team-squad'].template"></div>
