<!-- Users list -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-users"></i> Users Management</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <td><a href="{{user.getUrl()}}">{{user.Name}}</a></td>
                            <td>{{user.Email}}</td>
                            <td>
                                <button title="delete" type="button" class="btn btn-danger btn-sm" ng-click="deleteUser(user)" tooltip="Delete User"><i class="fa fa-times-circle"></i> <span class="hidden-xs">Delete</span></button>
                                <button title="makeadmin" ng-show="!user.IsAdmin" type="button" class="btn btn-primary btn-sm" ng-click="makeAdmin(user)" tooltip="Make Admin"><i class="fa fa-gear"></i> <span class="hidden-xs">Admin</span></button>
                                <button title="activate" ng-show="user.Roles === Disabled && !user.IsAdmin" type="button" class="btn btn-success btn-sm" ng-click="activate(user)" tooltip="Activate"><i class="fa-solid fa-user-check"></i> <span class="hidden-xs">Actiavte</span></button>
                                <button title="deactivate" ng-show="user.Roles === Active && !user.IsAdmin" type="button" class="btn btn-warning btn-sm" ng-click="deactivate(user)" tooltip="Deactivate"><i class="fa-solid fa-user-minus"></i> <span class="hidden-xs">Deactivate</span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End of Users list -->
<!-- General Bets -->
<div class="row" ng-if="generalBets.length > 0">
    <div class="col-md-12">
        <div class="panel panel-info" cg-busy="resolveGeneralBetPromise">
            <div class="panel-heading"><i class="fa-solid fa-money-bill"></i> Users General Bets</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Name</th>
                                    <th>Winning Team</th>
                                    <th>Golden Boot Player</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bet in generalBets">
                                        <td>
                                            <div class="checkbox">
                                                <label>{{bet.OwnerName}}</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <label><input type="checkbox" tooltip="Check if it is winning bet" ng-model="bet.TeamIsRight"> {{teamsDic[bet.WinningTeamId].Name}}</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <label><input type="checkbox" tooltip="Check if it is winning bet" ng-model="bet.PlayerIsRight"> {{playersDic[bet.GoldenBootPlayerId].Name}}</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-success btn-block" ng-click="resolveBet(bet)" tooltip="Update bet result"><i class="fa fa-save"></i> </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of General Bets -->
