<div class="row">
    <div class="col-md-10">
        <h4>
            <i class="fa fa-user" ng-if="profileUser.ProfilePicture == null"></i><img referrerpolicy="no-referrer"
                ng-if="profileUser.ProfilePicture != null" src="{{profileUser.ProfilePicture}}" class="img-circle">
            {{profileUser.Name}} Profile
        </h4>
    </div>
    <div class="col-md-2" ng-if="profileUser.Username !== security.user.Username">
        <div class="pull-right">
            <button ng-if="!alreadyFollow" type="button" class="btn btn-success btn-sm" ng-click="social()"
                tabindex="100">
                <i class="fa-solid fa-user-plus"></i> Follow
            </button>
            <button ng-if="alreadyFollow" type="button" class="btn btn-warning btn-sm" ng-click="social()"
                tabindex="100">
                <i class="fa-solid fa-user-minus"></i> UnFollow
            </button>
        </div>
    </div>
</div>
<div class="row" data-access-level="Admin">
    <dic class="col-md-12">
        <div class="panel panel-info" cg-busy="getSocialPromise">
            <div class="panel-heading"><i class="fa-solid fa-user-tie"></i> Admin Actions</div>
            <div class="panel-body">
                <div class="list-group">
                    <a class="list-group-item" target=""
                        href="mailto:{{::profileUser.Email}}?subject=Hello From {{::mundialitoApp.appName}}"><i
                            class="fa-solid fa-envelope"></i> Send Mail</a>
                    <a class="list-group-item" id="capture" ng-click="capture()" href=""><i
                            class="fa-solid fa-print"></i> Captue Profile</a>
                </div>
            </div>
        </div>
    </dic>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info" cg-busy="getSocialPromise">
            <div class="panel-heading"><i class="fa fa-users"></i> Social</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa fa-users"></i> Followers</div>
                            <div class="panel-body">
                                <div ng-show="followers.length == 0" class="text-info">
                                    No user is following {{profileUser.Name}}
                                </div>
                                <ul class="list-group" ng-if="followers.length > 0">
                                    <a ng-href="/users/{{follower.Username}}" class="list-group-item"
                                        ng-repeat="follower in followers">
                                        {{follower.Name}}
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa fa-users"></i> Followees</div>
                            <div class="panel-body">
                                <div ng-show="followees.length == 0" class="text-info">
                                    {{profileUser.Name}} does not follow any user
                                </div>
                                <ul class="list-group" ng-if="followees.length > 0">
                                    <a ng-href="/users/{{followee.Username}}" class="list-group-item"
                                        ng-repeat="followee in followees">
                                        {{followee.Name}}
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa-solid fa-chart-pie"></i> Statistics</div>
            <div class="panel-body">
                <div class="row" cg-busy="getStatsPromise">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa-solid fa-person-running"></i> Performance (Without
                                General Bets)</div>
                            <div class="panel-body">
                                <div class="table-responsive hidden-xs">
                                    <table class="table table-striped">
                                        <thead>
                                            <th><i class="fa-solid fa-list"></i> Category</th>
                                            <th class="text-center"><i class="fa-solid fa-people-group"></i> Overall
                                            </th>
                                            <th class="text-center"><i class="fa-solid fa-medal"></i> Best</th>
                                            <th class="text-center"><i class="fa-solid fa-trophy"></i> Leader</th>
                                            <th class="text-center" ng-if="!isLoggedUserProfile()"><i
                                                    class="fa-solid fa-user"></i> {{::profileUser.Name}}</th>
                                            <th class="text-center" ng-if="isLoggedUserProfile()"><i
                                                    class="fa-solid fa-users"></i> Followees</th>
                                            <th class="text-center"><i class="fa-solid fa-user"></i> You</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key,value) in performance">
                                                <td>{{::value.Category}}</td>
                                                <td class="text-center"><span
                                                        class="label label-default">{{::value.Overall}}</span></td>
                                                <td><span
                                                        class="label label-default">{{::value.BestResult.Value}}</span>
                                                    <small>({{::value.BestResult.Name}})</small>
                                                </td>
                                                <td class="text-center"><span
                                                        class="label label-default">{{::value.Leader}}</span></td>
                                                <td class="text-center" ng-if="!isLoggedUserProfile()"><span
                                                        ng-class="{'label-danger': value.User < value.Overall, 'label-warning': value.User >= value.Overall && value.User < value.Leader, 'label-success': value.User >= value.Leader}"
                                                        class="label">{{::value.User}}</span></td>
                                                <td class="text-center" ng-if="isLoggedUserProfile()"><span
                                                        ng-class="{'label-danger': value.Followees < value.Overall, 'label-warning': value.Followees >= value.Overall && value.Followees < value.Leader, 'label-success': value.Followees >= value.Leader}"
                                                        class="label">{{::value.Followees}}</span></td>
                                                <td class="text-center"><span
                                                        ng-class="{'label-danger': value.You < value.Overall, 'label-warning': value.You >= value.Overall && value.You < value.Leader, 'label-success': value.You >= value.Leader}"
                                                        class="label">{{::value.You}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-responsive visible-xs">
                                    <div class="panel panel-info" ng-repeat="(key,value) in performance">
                                        <div class="panel-heading"><i class="fa-solid fa-list"></i> {{::value.Category}}
                                        </div>
                                        <div class="panel-body">
                                            <div class="list-group">
                                                <span class="list-group-item">
                                                    <i class="fa-solid fa-people-group"></i> Overall<span
                                                        class="label label-default pull-right">{{::value.Overall}}</span>
                                                </span>
                                                <span class="list-group-item">
                                                    <i class="fa-solid fa-medal"></i> Best<span
                                                        class="label label-default pull-right">{{::value.BestResult.Value}}</span><small>({{::value.BestResult.Name}})</small>
                                                </span>
                                                <span class="list-group-item">
                                                    <i class="fa-solid fa-trophy"></i> Leader<span
                                                        class="label label-default pull-right">{{::value.Leader}}</span>
                                                </span>
                                                <span class="list-group-item" ng-if="!isLoggedUserProfile()">
                                                    <i class="fa-solid fa-user"></i> {{::profileUser.Name}}<span
                                                        ng-class="{'label-danger': value.User < value.Overall, 'label-warning': value.User >= value.Overall && value.User < value.Leader, 'label-success': value.User >= value.Leader}"
                                                        class="label pull-right">{{::value.User}}</span>
                                                </span>
                                                <span class="list-group-item" ng-if="isLoggedUserProfile()">
                                                    <i class="fa-solid fa-users"></i> Followees<span
                                                        ng-class="{'label-danger': value.Followees < value.Overall, 'label-warning': value.Followees >= value.Overall && value.Followees < value.Leader, 'label-success': value.Followees >= value.Leader}"
                                                        class="label pull-right">{{::value.Followees}}</span>
                                                </span>
                                                <span class="list-group-item">
                                                    <i class="fa-solid fa-user"></i> You<span
                                                        ng-class="{'label-danger': value.You < value.Overall, 'label-warning': value.You >= value.Overall && value.You < value.Leader, 'label-success': value.You >= value.Leader}"
                                                        class="label pull-right">{{::value.You}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" cg-busy="compareUsersPromise">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa-solid fa-chart-line"></i> Progress</div>
                            <div class="panel-body">
                                <div google-chart chart="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa-solid fa-clipboard-list"></i> User Summary</div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-9 control-label">Points</label>
                                        <div class="col-md-1 col-xs-3">
                                            <p class="form-control-static">{{profileUser.Points}}</p>
                                        </div>
                                        <div class="col-md-8 hidden-xs">
                                            <span class="help-block"><small>Total Points</small></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-9 control-label">Results</label>
                                        <div class="col-md-1 col-xs-3">
                                            <p class="form-control-static">{{profileUser.Results}}</p>
                                        </div>
                                        <div class="col-md-8 hidden-xs">
                                            <span class="help-block"><small>Number of games that the user guessed the
                                                    game result - 5
                                                    Points(3 for the Mark + 2)</small></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-9 control-label">Game Marks</label>
                                        <div class="col-md-1 col-xs-3">
                                            <p class="form-control-static">{{profileUser.Marks}}</p>
                                        </div>
                                        <div class="col-md-8 hidden-xs">
                                            <span class="help-block"><small>Number of games that the user guessed the
                                                    game mark (1,X,2)
                                                    - 3 Points</small></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-9 control-label">Yellow Cards</label>
                                        <div class="col-md-1 col-xs-3">
                                            <p class="form-control-static">{{profileUser.YellowCards}}</p>
                                        </div>
                                        <div class="col-md-8 hidden-xs">
                                            <span class="help-block"><small>Number of games that the user guessed the
                                                    game yellow cards
                                                    mark (1,X,2) - 1 Point</small></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-9 control-label">Corners</label>
                                        <div class="col-md-1 col-xs-3">
                                            <p class="form-control-static">{{profileUser.Corners}}</p>
                                        </div>
                                        <div class="col-md-8 hidden-xs">
                                            <span class="help-block"><small>Number of games that the user guessed the
                                                    game corners mark
                                                    (1,X,2) - 1 Point</small></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="security.user.Roles !== 'Disabled'">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                General Bets
                <span class="label label-success pull-right"
                    ng-show="!noGeneralBetWasSubmitted && generalBet.IsResolved">{{generalBet.Points}} Points</span>
            </div>
            <div class="panel-body" cg-busy="generalBetsPromise">
                <form class="form-horizontal" role="form" name="generalBetForm" novalidate
                    ng-hide="noGeneralBetWasSubmitted || (!isGeneralBetClosed() && !isLoggedUserProfile())">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-6 control-label">Winning Team</label>
                        <div class="col-md-4 col-xs-6">
                            <select ui-select2="{allowClear: false}" class="form-control" name="team" id="team"
                                ng-model="generalBet.WinningTeam.TeamId" ng-readonly="isGeneralBetReadOnly()" required>
                                <option ng-repeat="team in teams" ng-value="team.TeamId">{{team.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="goldenBootPlayer" class="col-md-3 col-xs-6 control-label">Golden Boot Player</label>
                        <div class="col-md-4 col-xs-6">
                            <select ui-select2="{allowClear: false}" class="form-control" name="player" id="player"
                                ng-model="generalBet.GoldenBootPlayer.PlayerId" ng-readonly="isGeneralBetReadOnly()"
                                required>
                                <option ng-repeat="player in players" ng-value="player.PlayerId">{{player.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" ng-click="saveGeneralBet()"
                            ng-disabled="generalBetForm.$invalid" ng-if="!isGeneralBetReadOnly()" tabindex="100"><i
                                class="fa-solid fa-floppy-disk"></i> Save</button>
                    </div>
                </form>
                <div ng-show="noGeneralBetWasSubmitted && isGeneralBetClosed()" class="text-info">
                    <i class="fa fa-info-circle"></i> General bet was not submitted
                </div>
                <div ng-show="!isGeneralBetClosed() && !isLoggedUserProfile()" class="text-info">
                    <i class="fa fa-info-circle"></i> General bet will be displayed only after it will be closed for
                    betting
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="security.user.Roles !== 'Disabled'">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Game Bets</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="list-group" ng-show="userGameBets.length > 0">
                            <a href="{{userBet.getGameUrl()}}" class="list-group-item"
                                ng-class="{'list-group-item-success': userBet.IsMaxPoints, 'list-group-item-danger': userBet.IsResolved && userBet.Points == 0}"
                                ng-repeat="userBet in userGameBets | orderBy : 'Game.Date'">
                                <div class="row">
                                    <div class="col-md-2 col-xs-1">
                                        <team-flag team="userBet.Game.HomeTeam"></team-flag>
                                        <span class="hidden-xs">{{userBet.Game.HomeTeam.Name}}</span>
                                    </div>
                                    <div class="col-md-2 col-xs-3">
                                        <div class="text-center">
                                            <span class="label"
                                                ng-class="{'label-default' : !userBet.IsResolved,'label-success' : userBet.ResultWin && userBet.IsResolved, 'label-info': userBet.GameMarkWin && !userBet.ResultWin, 'label-danger' : !userBet.ResultWin && !userBet.GameMarkWin && userBet.IsResolved}">
                                                <b>{{userBet.HomeScore}} - {{userBet.AwayScore}}</b>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-1">
                                        <team-flag team="userBet.Game.AwayTeam"></team-flag>
                                        <span class="hidden-xs">{{userBet.Game.AwayTeam.Name}}</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <span class="label"
                                            ng-class="{'label-default' : !userBet.IsResolved, 'label-success' : userBet.CardsWin && userBet.IsResolved, 'label-danger': !userBet.CardsWin && userBet.IsResolved}">
                                            <i class="fa fa-stop" style="color: #ffff00"
                                                tooltip="Yellow Cards Mark"></i> <b>{{userBet.CardsMark}}</b>
                                        </span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <span class="label"
                                            ng-class="{'label-default' : !userBet.IsResolved,'label-success' : userBet.CornersWin && userBet.IsResolved, 'label-danger': !userBet.CornersWin && userBet.IsResolved}">
                                            <i class="fa fa-flag" tooltip="Corners Mark"></i>
                                            <b>{{userBet.CornersMark}}</b>
                                        </span>
                                    </div>
                                    <div class="col-md-2 col-xs-2" ng-if="userBet.IsResolved">
                                        <i class="fa"
                                            ng-class="{'fa-legal': !userBet.IsMaxPoints && userBet.Points > 0, 'fa-bullseye': userBet.IsMaxPoints, 'fa-skull-crossbones': userBet.Points == 0}"
                                            tooltip="Points"></i> <b>{{userBet.Points}}</b>
                                    </div>
                                    <div class="col-md-2 col-xs-2" ng-if="!userBet.IsResolved">
                                        <i class="fa fa-clock-o" tooltip="Not resolved yet"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div ng-show="userGameBets.length == 0" class="text-info">
                            <i class="fa fa-info-circle"></i> User didn't bet on any game yet
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>