<div class="row" ng-show="!submittedGeneralBet && generalBetsAreOpen">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation-triangle"></i> You haven't placed a bet on the <b>Winning Team</b> and the
            <b>Golden Boot Player</b>, <a ng-href="users/{{security.user.Username}}">click here</a> now
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <img src="/icons/yellowstring.png"
            style="height: 30px; width: 30px; margin-top: 10px; margin-right: 10px" /><img
            ng-src="https://img.uefa.com/imgml/flags/50x50/isr.png"> עם ישראל חי <img
            ng-src="https://img.uefa.com/imgml/flags/50x50/isr.png"><img src="/icons/yellowstring.png"
            style="height: 30px; width: 30px; margin-top: 10px; margin-left: 10px" />
    </div>
</div>
<br><br>
<div class="row" ng-show="pendingUpdateGames">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-clock"></i> Pending Update Games</div>
            <div class="panel-body">
                <div class="list-group" cg-busy="getGamesPromise">
                    <div ng-repeat="game in games | filter:isPendingUpdate">
                        <a class="list-group-item" href="{{game.getUrl()}}"
                            tooltip="{{game.Date | date:'dd/MM/yy @ h:mma'}}">
                            <div class="row">
                                <div class="col-md-5 col-xs-3">
                                    <team-flag team="game.HomeTeam"></team-flag>
                                    <span class="hidden-xs">{{::game.HomeTeam.Name}}</span>
                                    <span class="visible-xs">
                                        <h5><small>{{::game.HomeTeam.Name}}</small></h5>
                                    </span>
                                </div>
                                <div class="col-md-2 col-xs-6 text-center"> - </div>
                                <div class="col-md-5 col-xs-3">
                                    <team-flag class="pull-right" team="game.AwayTeam"></team-flag>
                                    <span class="pull-right hidden-xs">{{::game.AwayTeam.Name}}</span>
                                    <span class="pull-right visible-xs">
                                        <h6><small>{{::game.AwayTeam.Name}}</small></h6>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <div class="list-group-item">
                            <div class="row" ng-if="hasBets(game)">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr ng-repeat="bet in pendingUpdateGamesFolloweesBets[game.GameId]">
                                                    <td>{{::getUserPlace(bet.User)}}</td>
                                                    <td><a href="users/{{bet.User.Username}}">{{::bet.User.FirstName}}
                                                            {{::bet.User.LastName}}</a></td>
                                                    <td>{{::bet.HomeScore}} - {{::bet.AwayScore}}</td>
                                                    <td title="Cards"><i class="fa fa-stop" style="color: #ffff00"></i>
                                                        {{::bet.CardsMark}}</td>
                                                    <td title="Corners"><i class="fa fa-flag"></i> {{::bet.CornersMark}}
                                                    </td>
                                                    <td><span class="label label-{{bet.getClass()}}"
                                                            ng-show="bet.IsResolved">{{::bet.Points}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-12">
                                    <toggle ng-model="toggleValue[game.GameId]" size="btn-sm" off-class="btn-success"
                                        on-class="btn-info" ng-change="changed(game)"
                                        off="<i class='fa fa-bullseye'></i> Result"
                                        on="<i class='fa fa-check'></i> Mark"></toggle>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <uib-accordion close-others="oneAtATime">
                                        <div uib-accordion-group class="panel-info" is-open="status[item[0]].open"
                                            ng-repeat="item in selectedDic[game.GameId]">
                                            <uib-accordion-heading>
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-2 text-center">
                                                        <div ng-if="groupedTeams[item[0]] === undefined">
                                                            <span class="badge">{{item[0]}}</span>
                                                        </div>
                                                        <div ng-if="groupedTeams[item[0]] !== undefined">
                                                            <team-flag team="groupedTeams[item[0]][0]"></team-flag>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-10 col-xs-9">
                                                        <uib-progressbar max="100" min="0"
                                                            value="selectedPercentage[game.GameId][item[0]]"
                                                            type="info"><span
                                                                style="color:white; white-space:nowrap;">{{item[1].length}}</span></uib-progressbar>
                                                    </div>
                                                    <div class="col-md-1 col-xs-1">
                                                        <i class="pull-right glyphicon"
                                                            ng-class="{'glyphicon-chevron-down': status[item[0]].open, 'glyphicon-chevron-right': !status[item[0]].open}"></i>
                                                    </div>
                                                </div>
                                            </uib-accordion-heading>
                                            <div class="list-group">
                                                <a href="/users/{{::bet.User.Username}}" class="list-group-item"
                                                    ng-repeat="bet in item[1]">
                                                    {{bet.User.FirstName}} {{bet.User.LastName}}
                                                </a>
                                            </div>
                                        </div>
                                    </uib-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-folder-open"></i> Open Games for Betting <span
                    class="pull-right badge">{{(games | filter:isOpenForBetting).length }}</span></div>
            <div class="panel-body">
                <div class="list-group" cg-busy="getGamesPromise">
                    <a class="list-group-item" ng-class="{'list-group-item-warning' : !game.UserHasBet}"
                        ng-repeat="game in games | filter:isOpenForBetting | limitTo:10" href="{{game.getUrl()}}"
                        tooltip="{{game.Date | date:'dd/MM/yy @ h:mma'}}">
                        <div class="row">
                            <div class="col-md-5 col-xs-3">
                                <team-flag team="game.HomeTeam"></team-flag>
                                <span class="hidden-xs">{{::game.HomeTeam.Name}}</span>
                                <span class="visible-xs">
                                    <h5><small>{{::game.HomeTeam.Name}}</small></h5>
                                </span>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center"> - </div>
                            <div class="col-md-5 col-xs-3">
                                <team-flag class="pull-right" team="game.AwayTeam"></team-flag>
                                <span class="pull-right hidden-xs">{{::game.AwayTeam.Name}}</span>
                                <span class="pull-right visible-xs">
                                    <h6><small>{{::game.AwayTeam.Name}}</small></h6>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-futbol" aria-hidden="true"></i> Last scores <span
                    class="pull-right badge" uib-tooltip="Total Finished Games">{{(games |
                    filter:isDecided).length}}</span>
            </div>
            <div class="panel-body">
                <div class="list-group" cg-busy="getGamesPromise">
                    <a class="list-group-item" ng-class="{'list-group-item-warning' : !game.UserHasBet}"
                        ng-repeat="game in games| filter:isDecided | orderBy:'Date':true | limitTo:10"
                        href="{{game.getUrl()}}">
                        <div class="row">
                            <div class="col-md-5 col-xs-3">
                                <team-flag team="game.HomeTeam"></team-flag>
                                <span class="hidden-xs">{{::game.HomeTeam.Name}}</span>
                                <span class="visible-xs">
                                    <h5><small>{{::game.HomeTeam.Name}}</small></h5>
                                </span>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center"> {{::game.HomeScore}} - {{::game.AwayScore}}
                            </div>
                            <div class="col-md-5 col-xs-3">
                                <team-flag class="pull-right" team="game.AwayTeam"></team-flag>
                                <span class="pull-right hidden-xs">{{::game.AwayTeam.Name}}</span>
                                <span class="pull-right visible-xs">
                                    <h6><small>{{::game.AwayTeam.Name}}</small></h6>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ranking Table -->
<div class="row" cg-busy="getUsersPromise">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-calculator" aria-hidden="true"></i> Ranking Table
                <span class="pull-right">
                    <toggle ng-model="tableToggleValue" size="btn-xs" off-class="btn-success" on-class="btn-info"
                        on="<i class='fa-solid fa-table'></i> Detailed" off="<i class='fa-solid fa-list'></i> Slim">
                    </toggle>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" ng-if="tableToggleValue">
                        <div ui-grid="gridOptions" class="myGrid" ui-grid-resize-columns ui-grid-auto-resize
                            ng-style="getTableHeight()" ui-grid-save-state ui-if="gridOptions.data.length > 0"></div>
                    </div>
                    <div class="col-md-12" ng-if="!tableToggleValue">
                        <ul class="media-list">
                            <li class="media" ng-repeat="user in users">
                                <div class="media-left">
                                    <a href="{{user.getUrl()}}">
                                        <img referrerpolicy="no-referrer" class="img-circle media-object"
                                            style="width: 64px; height: 64px;" ng-src="{{user.ProfilePicture}}"
                                            alt="{{user.Name}}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{{user.getUrl()}}">{{user.Place}}.
                                            {{user.Name}}</a> <span
                                            class="label label-info pull-right">{{user.Points}}</span></h4>
                                    <span ng-if="user.GeneralBet != null && generalBetsAreOpen == false">
                                        <i class="fa-solid fa-trophy"></i>
                                        <team-flag team="user.GeneralBet.WinningTeam"></team-flag>
                                        <span>{{::user.GeneralBet.WinningTeam.Name}}</span><br />
                                        <i class="fa-solid fa-crown"></i> {{::user.GeneralBet.GoldenBootPlayer.Name}}
                                    </span>
                                    <span ng-if="user.GeneralBet == null || generalBetsAreOpen == true">
                                        <i class="fa-solid fa-trophy"></i> <span>Not placed</span><br />
                                        <i class="fa-solid fa-crown"></i> <span>Not placed</span>
                                    </span>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Ranking Table-->
<div class="row" ng-show="!generalBetsAreOpen">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa-solid fa-money-bill"></i> General Bets</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div google-chart chart="chart">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div google-chart chart="playersChart">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Name</th>
                                        <th>Points</th>
                                        <th>Winning Team</th>
                                        <th>Golden Boot Player</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="bet in generalBets">
                                            <td>{{bet.OwnerName}}</td>
                                            <td>{{usersDic[bet.OwnerId].Points}}</td>
                                            <td>{{teamsDic[bet.WinningTeamId].Name}}</td>
                                            <td>{{playersDic[bet.GoldenBootPlayerId].Name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fa-solid fa-crown"></i> Golden Boot Players
                        <div class="pull-right">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="search">Search</label>
                                    <input type="text" ng-model="searchText" class="form-control" id="search"
                                        placeholder="Player">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group" cg-busy="{tracker:'getPlayers'}">
                            <span class="list-group-item" ng-repeat="player in players | filter:searchText">
                                {{player.Name}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>